$background-color: #102929;
$font-color: #EDF8F8;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: $background-color url(/public/img/background.png) no-repeat fixed center;
  header.header {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    justify-content: space-between;
    img {
      height: 50px;
      cursor: pointer;
    }
  }
}

div#app {
  display: flex;
  justify-content: center;
  margin: 80px 0 80px 0;
  presentation-card > custom-button {
    margin-right: 25px;
  }
  div.stack-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
    display: none;
  }

}
